<!DOCTYPE html>
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <head>
    <title>OIDC demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div id="state" title= "<%= state %>" />

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
	    <a class="navbar-brand" href="http://test.kirimanjirou.com">
	       kirimanjirou's lab
	    </a>
	 </div>
      </div>
    </nav>

    <h2>OpenID Connect Sample</h2>

    <h3>Login with Google(OIDC)</h3>
    <div>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=1064415930677%2dvl8maa82c7mv45h3f774ag76rqmjkicq%2eapps%2egoogleusercontent%2ecom&redirect_uri=https%3a%2f%2ftest%2ekirimanjirou%2ecom%3a2017%2fgoogle_callback&scope=openid%20email&state=<%= state %>"><button type="button" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Login with Google</button></a>
    </div>

    <h3>Login with LINE(OAuth2.0)</h3>
    <div>
        <a href="https://access.line.me/dialog/oauth/weblogin?response_type=code&client_id=1512763897&redirect_uri=https%3a%2f%2ftest%2ekirimanjirou%2ecom%3a2017%2fcallback&state=<%= state %>"><button type="button" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Login with LINE</button></a>
    </div>

    <h3>Login with YahooJ(OIDC)</h3>
    <div>
      <a href="https://auth.login.yahoo.co.jp/yconnect/v1/authorization?response_type=code%20id_token&client_id=dj0zaiZpPTlhbEV0aGd1QmhhYiZzPWNvbnN1bWVyc2VjcmV0Jng9Mzg-&redirect_uri=https%3a%2f%2ftest%2ekirimanjirou%2ecom%3a2017%2fyahoo_callback&scope=openid%20email%20profile%20address&state=<%= state %>&nonce=<%= state %>">
<button type="button" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Login with YahooJ</button></a>
    </div>
	
  </body>
</html>
